<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/asset/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/asset/css/style.css">

    <script src="https://kit.fontawesome.com/e8b7ffc3fd.js" crossorigin="anonymous"></script>

    <title>All Packages</title>
</head>
<body>

    <!-- Navbar And Hero Section Starts -->
    <div style="margin-bottom: 9%;">
        <nav class="head-nav nav-collapse fixed-top">
            <div class="logo"><i class="fa-solid fa-earth-americas"></i> Gothrill</div>
            <ul>
                <li><a href="/allpackages">Packages</a></li>
                <li><a href="/myjourney">MyJourney</a></li>
                <li>
                    <a href="/logout" role="button" id="register">Logout</a>
                </li>
            </ul> 
        </nav>
    </div>


    <!-- Package Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <h6 class="section-title bg-white text-center px-3">Packages</h6>
                <p class="section-heading mb-5">All Packages</p>
            </div>
            <div class="row g-4 justify-content-center">
                {% for x in places %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{x.pimage.url}}" alt="no-image">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{x.pname}}</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>{{x.days}} days</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{x.person}} Person</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">&#8377;{{x.price}}.00</h3>
                            <p>{{x.description}}</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="/payment/{{x.id}}" class="btn btn-primary px-3" style="border-radius: 30px 30px 30px 30px;">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Package End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5">
        <div class="container ">
            <div class="row">
                <div class="col-md-4 ps-5">
                    <h4 class="text-white footer-head fs-3 mb-3">Company</h4>
                    <ul class="footer-list">
                        <li><a class="btn btn-link" href="">About Us</a></li>
                        <li><a class="btn btn-link" href="">Contact Us</a></li>
                        <li><a class="btn btn-link" href="">Privacy Policy</a></li>
                        <li><a class="btn btn-link" href="">Terms & Condition</a></li>
                        <li><a class="btn btn-link" href="">FAQs & Help</a></li>
                    </ul>    
                </div>

                <div class=" col-md-4 ps-5">
                    <h4 class="text-white footer-head fs-3 mb-3">Contact</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Ambernath, Mumnbai , India</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 7887342406</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>kargutkarvivek20@gmail.com</p>
                    
                </div>
                <div class="col-md-4 ps-5">
                    <h4 class="text-white footer-head fs-3 mb-3">Social Links</h4>
                    <ul class="footer-list">
                        <li>
                            <a class="btn btn-outline-light" href=""><i class="fa-brands fa-facebook"></i></a>
                        </li>&nbsp;
                        <li>
                            <a class="btn btn-outline-light" href=""><i class="fa-brands fa-twitter"></i></a>
                        </li>&nbsp;
                        <li>
                            <a class="btn btn-outline-light" href=""><i class="fa-brands fa-youtube"></i></a>
                        </li>&nbsp;
                        <li>
                            <a class="btn btn-outline-light" href=""><i class="fa-brands fa-linkedin"></i></a>
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; <a class="border-bottom" href="#">Gothrill</a>, All Right Reserved.
                Designed By <a class="border-bottom" href="">Vivek Codex</a>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <script>
        const navE1 = document.querySelector('.head-nav');

        window.addEventListener('scroll', () =>{
            if (window.scrollY >= 90){
                navE1.classList.add('nav-collapse');
            } else if(window.scrollY < 90){
                navE1.classList.remove('nav-collapse');
            }
        });
    </script>
    
</body>
</html>