<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/asset/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/asset/css/style.css">

    <script src="https://kit.fontawesome.com/e8b7ffc3fd.js" crossorigin="anonymous"></script>
    
    <title>Login</title>
</head>
<body>

    <!-- Navbar And Hero Section Starts -->
    <div style="margin-bottom: 9%;">
        <nav class="head-nav nav-collapse fixed-top">
            <div class="logo"><i class="fa-solid fa-earth-americas"></i> Gothrill</div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/packages">Packages</a></li>
                <li><a href="/contact">Contact</a></li>
                <li>
                    <a href="/register" role="button" id="register">Create account</a>
                </li>
            </ul> 
        </nav>
    </div>


    <!-- Login form starts -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 shadow mx-auto p-4 mt-4">
                <h1>Login</h1>
                {% if errmsg %}
                <div class="alert alert-danger">
                  {{errmsg}}
                </div>
                {% endif %}
                <form method="POST" action="/login"> 
                  {% csrf_token %} 
                  <div class="mb-3">
                    <label for="Input1" class="form-label">Username</label>
                    <input type="email" class="form-control" id="Input1" placeholder="Enter Username" name="uname">
                  </div>
                  <div class="mb-3">
                    <label for="Input2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Input2" placeholder="Enter password" name="upass">
                  </div>
                  <div class="mb-3">
                    <input type="submit" class="btn btn-danger" value="login">&nbsp;&nbsp;Not a User?<a href="/register" target="_blank" style="text-decoration: none; margin-left: 10px;">Register</a>
                  </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>